@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #fff5f8;
}

#card {
    background-color: transparent;
    position: relative;
}

#scratch-pad {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: transparent !important;
    border: none;
    outline: none;
}

.flower-container {
    position: absolute;
    top: -50px;
    left: -70px;
    width: 250px;
    height: 250px;
}


.flower-container img {
    object-fit: cover;
}

.bottom-flower-container {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: -40px;
    right: -40px;
}

.bottom-flower-container img {
    object-fit: cover;
    transform: rotate(225deg);
}

@media (max-width: 640px) {
    .bottom-flower-container {
        opacity: 0.5;
    }
}